body {
  background-image: url("images/back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-weight: bold;
}

.container {
  max-width: 700px;
  margin: 20px auto;
}

.header-image {
  text-align: center;
}

.header-image img {
  max-width: 100%;
  height: auto;
  border-radius: 0px;
}

#pointsTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px; /* Set the desired gap between rows */
  margin-bottom: 10px;
  border: 1px solid #a9101000;
  font-size: 18px;
}

#pointsTable th,
#pointsTable td {
  padding: 12px 15px;
  text-align: center;
}

#pointsTable th {
  background-color: rgb(206, 209, 213);
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
#pointsTable th.team-details {
  background-color: #f9f9f9;
  color: #f9f9f9;
}

#pointsTable th.points-heading {
  background-color: red;
  color: #fff;
}

#pointsTable td.points {
  background-color: rgb(255, 255, 255);
}

#pointsTable tr:nth-child(even) {
  background-color: #f9f9f9fb;
}

/* #pointsTable tr:hover {
    background-color: #ebebeb00;
  } */

.team {
  position: relative;
  cursor: pointer;
}

.team-details {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  background-color: #414242;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1;
}

.team:hover .team-details {
  opacity: 1;
  visibility: visible;
}

/* #pointsTable tr:nth-child(1),
  #pointsTable td:nth-child(1),
  #pointsTable tr:nth-child(2),
  #pointsTable td:nth-child(2){
    background-color: rgb(136, 10, 59);
    color: #fff;
  } */
/* #pointsTable th:nth-child(3),
  #pointsTable td:nth-child(3){
    background-color: rgb(255, 255, 255);
    color: #020202;

  } */

#pointsTable th:nth-child(1),
#pointsTable td:nth-child(1) {
  margin-right: 5px;
}

#pointsTable td.points-cell {
  background-color: rgb(255, 255, 255);
  color: #333;
}

#pointsTable th.no-header,
#pointsTable th.team-header #pointsTable th.wins-header,
#pointsTable th.losses-header,
#pointsTable th.draw-header,
#pointsTable th.no-header:before,
#pointsTable th.team-header:before,
#pointsTable th.wins-header:before,
#pointsTable th.losses-header:before,
#pointsTable th.draw-header:before {
  content: "";
  display: block;
  height: 10px;
  background-color: hsl(300, 100%, 25%);
}

/* style.css */

/* Add custom styles for each row */
#pointsTable tr {
  font-size: 25px;
}
#pointsTable tr:nth-child(1) {
  background-color: rgb(69, 67, 67);
}

#pointsTable tr:nth-child(2) {
  background-color: rgb(0, 0, 0);
  color: white;
}

#pointsTable tr:nth-child(3) {
  background-color: purple;
  color: white;
}

#pointsTable tr:nth-child(4) {
  background-color: green;
  color: white;
}

#pointsTable tr:nth-child(5) {
  background-color: RED;
  color: white;
}

#pointsTable tr:nth-child(6) {
  background-color: rgb(89, 89, 89);
  color: white;
}

#pointsTable tr:nth-child(7) {
  background-color: orange;
  color: white;
}

#pointsTable tr:nth-child(8) {
  background-color: blue;
}

#pointsTable tr:nth-child(9) {
  background-color: yellow;
}
#pointsTable tr:nth-child(10) {
  background-color: white;
  color: black;
}

#pointsTable td.points {
  background-color: rgb(221, 211, 211);
  color: black;
}
